date.timezone = "Australia/Sydney"

;NOTE: now using SYmfony 2.6 instead
;Show all errors, except user deprecated errors as Symfony 2.7 was producing to many of these errors. https://github.com/symfony/symfony/issues/13179#issuecomment-68432568
;error_reporting = E_ALL & ~E_USER_DEPRECATED & ~E_DEPRECATED

short_open_tag = On

max_execution_time = 60

memory_limit = 2048M

post_max_size = 32M
upload_max_filesize = 32M
