<VirtualHost *:80>

    ServerName {{ api_domain }}

    SetEnv SYMFONY_ENV {{ symfony_env }}

    DocumentRoot "/var/www/symfony/web"
    ServerAdmin [[EDIT]]

    #ErrorLog /var/www/logs/error-api.log
    #CustomLog /var/www/logs/access-api.log combined


    <Directory /var/www/symfony/web>
    DirectoryIndex index.htm index.html index.php
    Options +Indexes +FollowSymLinks +MultiViews +Includes
    AllowOverride All
    Order allow,deny
    allow from all
    {% if basic_auth_api_vhost %}
        #Basic Auth Stuff
        AuthType Basic
        AuthName "Authentication Required"
        AuthUserFile "/etc/htpasswd/.htpasswd"
        Require valid-user
    {% endif %}
    </Directory>

</VirtualHost>