<VirtualHost *:80>

    ServerName {{ front_domain }}

    SetEnv SYMFONY_ENV {{ symfony_env }}

    DocumentRoot "/var/www/front/web"
    ServerAdmin {{ apache_server_admin_email }}

    #ErrorLog /var/www/logs/error-front.log
    #CustomLog /var/www/logs/access-front.log combined

    <Directory /var/www/front/web>
    DirectoryIndex index.htm index.html index.php
    Options +Indexes +FollowSymLinks +MultiViews +Includes
    AllowOverride All
    Order allow,deny
    allow from all
    {% if basic_auth_front_vhost %}
        #Basic Auth Stuff
        AuthType Basic
        AuthName "Authentication Required"
        AuthUserFile "/etc/htpasswd/.htpasswd"
        Require valid-user
    {% endif %}
    </Directory>

</VirtualHost>