[Xdebug]
zend_extension="/usr/lib64/php/modules/xdebug.so"
debug.remote_enable=1
xdebug.profiler_enable=0
xdebug.profiler_enable_trigger=1
xdebug.profiler_output_dir="{{ xdebug_profiler_output_dir }}"
