[Xdebug]

zend_extension="/usr/lib64/php/modules/xdebug.so"
xdebug.remote_enable=1
;xdebug.profiler_enable=1
xdebug.profiler_enable_trigger=1
;TODO - use better path
xdebug.profiler_output_dir="/var/www/application"

;TODO Ansible play books still needs to be setup to put this ini file in the correct place.